<div class="col-md-12" id="aboutUs" style="padding: 15px;">
  <div class="col-md-1"></div>
  <div style="padding: 30px;" class="col-md-10">
    <div style="text-align: -webkit-auto" class="col-md-12">
      <h1>About Us</h1>
    </div>
    <p class="text">When you have a great story about how your product or service was built to change lives, share it.
      The "About Us" page is a great place for it to live, too. Good stories humanize your brand, providing context and
      meaning for your product. What’s more, good stories are sticky -- which means people are more likely to connect
      with them and pass them on.

      Yellow Leaf Hammocks tells users about its product by describing how the hammocks empower artisan weavers and
      their families. The company breaks down different pieces of the story into sections that combine words and easily
      digestible graphics, painting a picture instead of big chunks of text. They're clear about why they're different:
      "Not a Charity," the page reads. And then: "This is the basis for a brighter future, built on a hand up, not a
      handout."</p>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="col-md-12" id="profile" style="padding: 15px;" #profile>
  <div class="col-md-1"></div>
  <div  class="content-div col-md-10">
    <div style="text-align: -webkit-auto" class="col-md-12">
      <h1>Profile</h1>
    </div>
    <p class="text">When you have a great story about how your product or service was built to change lives, share it.
      The "About Us" page is a great place for it to live, too. Good stories humanize your brand, providing context and
      meaning for your product. What’s more, good stories are sticky -- which means people are more likely to connect
      with them and pass them on.

      Yellow Leaf Hammocks tells users about its product by describing how the hammocks empower artisan weavers and
      their families. The company breaks down different pieces of the story into sections that combine words and easily
      digestible graphics, painting a picture instead of big chunks of text. They're clear about why they're different:
      "Not a Charity," the page reads. And then: "This is the basis for a brighter future, built on a hand up, not a
      handout."</p>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="col-md-12" id="team" style="padding: 15px;" #team>
  <div class="col-md-1"></div>
  <div  class="content-div col-md-10">
    <div style="text-align: -webkit-auto" class="col-md-12">
      <h1>Team</h1>
    </div>
    <p class="text">When you have a great story about how your product or service was built to change lives, share it.
      The "About Us" page is a great place for it to live, too. Good stories humanize your brand, providing context and
      meaning for your product. What’s more, good stories are sticky -- which means people are more likely to connect
      with them and pass them on.

      Yellow Leaf Hammocks tells users about its product by describing how the hammocks empower artisan weavers and
      their families. The company breaks down different pieces of the story into sections that combine words and easily
      digestible graphics, painting a picture instead of big chunks of text. They're clear about why they're different:
      "Not a Charity," the page reads. And then: "This is the basis for a brighter future, built on a hand up, not a
      handout."</p>
  </div>
  <div class="col-md-1"></div>
</div>

<div class="col-md-12" id="contact" class="contact" style="padding: 15px;" #contact>
  <div class="col-md-1"></div>
  <div  class="content-div col-md-10">
    <div style="text-align: -webkit-auto" class="col-md-12">
      <h1>Contact</h1>
    </div>
    <p class="text">When you have a great story about how your product or service was built to change lives, share it.
      The "About Us" page is a great place for it to live, too. Good stories humanize your brand, providing context and
      meaning for your product. What’s more, good stories are sticky -- which means people are more likely to connect
      with them and pass them on.

      Yellow Leaf Hammocks tells users about its product by describing how the hammocks empower artisan weavers and
      their families. The company breaks down different pieces of the story into sections that combine words and easily
      digestible graphics, painting a picture instead of big chunks of text. They're clear about why they're different:
      "Not a Charity," the page reads. And then: "This is the basis for a brighter future, built on a hand up, not a
      handout."</p>
  </div>
  <div class="col-md-1"></div>
</div>
